.popup__container {
    max-width: 430px;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 34px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 195px;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 724px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
        padding-top: 25px;
        margin-top: 123px;
    }
}