.popup__container {
    max-width: 430px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-top: 34px;
    box-sizing: border-box;
    margin: auto;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 724px) {
    .popup__container {
        max-width: 282px;
        padding-top: 25px;
    }
}