.header {
    max-width: 880px;
    margin: 0 auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 45px 0 41px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

@media screen and (max-width: 944px) {
    .header {
        max-width: 100%;
        padding: 45px 27px 41px;
    }
}

@media screen and (max-width: 724px) {
    .header {
        padding-top: 28px;
        padding-left: 27px;
        padding-bottom: 31.6px;
    }
}