.profile__user-description {
    max-width: 336px;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 724px) {
    .profile__user-description {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}