.profile__user-name {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 724px) {
    .profile__user-name {
        font-size: 27px;
        line-height: 33px;
        margin-bottom: 6px;
        margin-left: 25px;
    }
}