.popup__input-about {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 36px 30px;
    padding: 0;
    width: 358px;
    z-index: 1;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 724px) {
    .popup__input-about {
        max-width: 238px;
        margin: 0 22px 45px;
    }
}